.footer {
    background-color: #3b2d2d;
    color: #bfa37a;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
  }
  
  .footer-section {
    flex: 1;
    padding: 0 20px;
    min-width: 200px; /* Minimum width to maintain some structure on small screens */
    margin-bottom: 20px; /* Added margin for better spacing on mobile */
  }
  
  .footer-section h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section .contact ul li {
    margin-bottom: 5px;
  }
  
  .footer-logo {
    width: 120px;
    margin-bottom: 20px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    margin: 0 10px;
  }
  
  .social-icons img {
    width: 30px;
  }
  
  .footer-bottom {
    width: 100%;
    max-width: 1200px;
    border-top: 1px solid #594848;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Added flex-wrap for better responsiveness */
  }
  
  .footer-bottom p {
    margin: 0;
  }
  
  .footer-links a {
    color: #bfa37a;
    margin: 0 5px;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      padding: 0;
      text-align: center;
    }
  
    .footer-bottom {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .footer-links {
      margin-top: 10px;
    }
  }
  