.who-we-are {
  border-top: 5px solid #ff6600;
  background-color: #3b2d2d;
  color: #fff;
  padding: 50px;
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100%;
  text-align: left;
}

.who-we-are .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.who-we-are .content::before {
  content: "";
  background: url("../assets/images/worldMap.png") no-repeat center center;
  background-size: 39%;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.who-we-are .content > * {
  position: relative;
  z-index: 1;
}

.who-we-are .about,
.who-we-are .hours,
.who-we-are .image {
  max-width: 100%;
  flex: 1 1 100%;
  margin-bottom: 20px;
}

.who-we-are .about {
  max-width: 40%;
  flex: 1 1 40%;
}

.who-we-are .hours {
  max-width: 25%;
  flex: 1 1 25%;
}

.who-we-are .image {
  max-width: 25%;
  flex: 1 1 25%;
}

.who-we-are .about h2 {
  color: #d8a35a;
  font-size: 18px;
  margin-bottom: 10px;
}

.who-we-are .about h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.who-we-are .about p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.who-we-are .about button {
  background-color: #d8a35a;
  color: #171717;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.who-we-are .hours h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.who-we-are .hours ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.who-we-are .hours li {
  margin-bottom: 25px;
  font-size: larger;
}

.who-we-are .image img {
  width: 100%;
  height: auto;
}

strong {
  color: #d8a35a;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .who-we-are .about,
  .who-we-are .hours,
  .who-we-are .image {
    /* max-width: 100%; */

    max-width: 90%;
    flex: 1 1 100%;
    margin: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .who-we-are {
    padding: 20px;
  }

  .who-we-are .about h1 {
    font-size: 28px;
  }

  .who-we-are .about p {
    font-size: 14px;
  }

  .who-we-are .hours h2 {
    font-size: 20px;
  }

  .who-we-are .hours ul {
    font-size: 14px;
  }

  .who-we-are .hours li {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .content {
    gap: 0px !important;
  }
  .who-we-are {
    padding: 10px;
  }

  .who-we-are .about h1 {
    font-size: 24px;
  }

  .who-we-are .about p {
    font-size: 12px;
  }

  .who-we-are .hours h2 {
    font-size: 18px;
  }

  .who-we-are .hours ul {
    font-size: 12px;
  }

  .who-we-are .hours li {
    margin-bottom: 15px;
  }
  .who-we-are .content::before {
    top: -25%;
    right: -35%;
    left: 0;
    margin: auto;
  }
}
